<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="style_all.css">
</head>
<body>
    <h1>Create Request</h1>
    <br>
    <!-- <form action="/Project1/reimbursement" method="POST">
        <label for=""></label>
        <input type="text" name="user">
        <br>
        <label for=""></label>
        <input type="text" name="amount">
        <br>
        <label for=""></label>
        <input type="text" name="submitted">
        <br>
        <label for=""></label>
        <input type="text" name="resolved">
        <br>
        <label for=""></label>
        <input type="text" name="description">
        <br>
        <label for=""></label>
        <input type="text" name="receipt">
        <br>
        <label for=""></label>
        <input type="text" name="type">
        <br>
        <br>

        <input type="submit" value="submit">
    </form> -->
</body>
</html>