body {
    padding: 0px;
    margin: 0px;

    overflow-x: hidden;
}
.div-body {
    width: 100%;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 20em 1fr 1fr 1fr;

    background-color: #aaaaaa;
}
.div-picture-body {
    grid-area: 1 / 2 / span 1 / span 3;
    background-color: #666666;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}
.div-picture-body-1 {
    height: 100%;
    width: 16em;

    justify-self: end;

    background-color: #ff7d3b!important;
    
}
.div-picture-body-2 {
    height: 100%;
    width: 2em;

    justify-self: end;

    background-color: #484848!important;
}
.div-menu-body {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
}
.div-form-menu {
    grid-row: 1;
    grid-column: 1;
    
    background-color: #ffffff;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;

    text-align: center;
}
.div-input-form {
    justify-self: center;
    align-self: center;

    background-color: #eeeeee;

    border-radius: 3px;
    border: 2px solid #dddddd;

    padding: 1em;
}
.div-logo-menu {
    grid-row: 2;
    grid-column: 1;

    background-color: #ffffff;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}
.div-logo-menu img{
    grid-row: 1;
    grid-column: 1;

    align-self: center;
    justify-self: center;
}